
.dotline {
	border-bottom: 1px dotted #111;
}
h1 {
	font-size: 19px;
	font-weight: bold;
	margin: 20px 10px 10px 10px;
}
h2 {
	font-size: 16px;
	font-weight: bold;
	margin: 10px;
}
p {
	margin: 10px;
}
pre {
	margin: 10px;
	padding: 5px;
	border: 1px dotted #111111;
	font-family: monospace;
	font-size: 13px;
	overflow: auto;
}
em {
	font-style: oblique;
}
strong {
	font-weight: bold;
}
.button {
	font-size: 12px;
	text-decoration: none;
	border: 1px solid #111111;
	background-color: #eeeeee;
	color: #111111;
	min-width: 50px;
	padding: 5px 10px 5px 10px;
}
.button:hover {
	color: #eeeeee;
	background-color: #111111;
}
.button.inactive {
	opacity: 0.5;
	border: 1px solid #777777;
}
.button.inactive:hover {
	cursor: default;
	color: #111111;
	background-color: #eeeeee;
}
a {
	color: #777777;
}
a:hover {
	color: #111111;
}
table {
	margin: 10px;
	border: 1px solid #999;
}
th {
	padding: 5px;
	border: 1px solid #999;
	background-color: #eee;
	font-weight: bold;
}
td {
	border: 1px solid #999;
	padding: 10px;
}
tr {
	border: 1px solid #999;
}
p.error {
	padding: 5px;
	font-style: italic;
	border: 1px dashed red;
	text-align: center;
}
.content ul, .content ol {
	margin-left: 40px;
}
.content ul {
	list-style-type: disc;
}
.content ol {
	list-style-type: decimal;
}
#tooltip {
	position: absolute;
	z-index: 100;
	visibility: hidden;
	background-color: #111111;
	color: #eeeeee;
	padding: 3px;
	font-size: 13px;
	border-radius: 3px;
	border: 1px solid #777777;
}

.info-icon, .content-expander {
	cursor: pointer;
	font-size: 13px;	
	font-weight: normal;
	padding: 0px;
	margin: 0px;
	background-color: #ffffff;
	display: inline-block;
	color: #aaaaaa;
}

.info-icon:before {
	content: "[?]";
}

.info-icon:hover {
	color: #111111;
}

.info-content {
	color: #777777;
	font-style: oblique;
	border: 1px dotted #aaaaaa;
	padding: 4px;
	margin: 4px;
}
.info-content.info-inline {
	border: 1px dotted #aaaaaa;
	padding: 0px 4px 0px 4px;
	margin: 0px 2px 0px 2px;
}

ul.no-bullets {
	list-style-type: none;
	position: relative;
	left: -25px;
}

.icon {
	position: relative;
	top: 5px;
	width: 25px;
	height: 25px;
	margin: 0px 10px 0 0;
    opacity: 0.8;
}
a .icon:hover {
	opacity: 1.0;
}

.small-icon {
	width: 20px;
	height: 20px;
	margin-right: 2px;
}

.header-menu {
	float: right;
	margin: 20px 0 0 0;
}

#jstree-parent {
	overflow: auto;
	margin-right: 10px;
}

#jstree {
	max-height: 250px;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

sub { 
	vertical-align: sub;
	font-size: smaller;
}

.pdfjs-viewer {
	overflow: auto;
	background-color: #aaaaaa;
	text-align: center;
}

/** small screens **/
@media(max-width: 800px) {
	h1 {
		margin: 10px 5px 5px 5px;
}
	h2 {
		margin: 10px 5px 10px 5px;
}
	p {
		margin: 5px;
		text-indent: 5px;
	}
}

.in-progress {
	opacity: 0.4;
}

/** rotate **/
@-webkit-keyframes rotation1{
	from{-webkit-transform:rotate(360deg);}
	to{-webkit-transform:rotate(0deg);}
}
@-moz-keyframes rotation1{
	from{-moz-transform:rotate(360deg);}
	to{-moz-transform:rotate(0deg);}
}
@-o-keyframes rotation1{
	from{-o-transform:rotate(3600deg);}
	to{-o-transform:rotate(0deg);}
}
@keyframes rotation1{
	from{transform:rotate(360deg);}
	to{transform:rotate(0deg);}
}
.rotate{-moz-animation:rotation1 2s linear infinite;-o-animation:rotation1 2s linear infinite;-webkit-animation:rotation1 2s linear infinite;animation:rotation1 2s linear infinite}
