.mod-languages li {
	margin-left: 0px !important;
}

.mod-languages {
	margin-bottom: 10px;
}

.header-menu li, .footer-menu li {
	float: left;
}

.header-menu a {
    display: block;
    width: 70px;
}

.footer-menu a {
    display: block;
    width: 150px;
	line-height: 30px;
	text-align: center;
}

.position-14 {
	margin-top: 15px;
}

.nbs-flexisel-inner {
	background: #ffffff !important;
	border-radius: 3px;
}

/*.header {
	background-color: #306599;
}*/

/*.accordion-group {
	width: 49%;
	float: left;
}*/

#jform_contact_name, #jform_contact_email, #jform_contact_emailmsg, #jform_contact_message {
	width: 95%;
}

#contact-form .form-actions {
	background: none !important;
}

.help-menu li {
	line-height: 25px;
}
.help-menu li.active {
	font-weight: bold;
}
.help-menu li.divider {
	margin-top: 20px;
	color: #f90;
}

.l-stripe__content {
	margin: auto;
}
.l-stripe__header--centered {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.t-amzn-title {
    color: #566080;
}
.quick-login h3 {
    color: #fff;
}
body div#fd .form-control {
	background-color: transparent !important;
}
.t-h2, .quick-login h3 {
    /*margin-bottom: 1rem;*/
    line-height: 1;
	font-size: 300%;
	font-weight: normal;
	padding-left: 0;
    padding-bottom: 22px;
}
.t-h2 {
	background: url(../images/mod_dot.png) repeat-x scroll center bottom transparent;
}
.t-h3 {
	font-size: 200%;
}
.l-centered-text, .quick-login h3 {
	text-align: center;
}
.l-table {
    display: table;
}
.l-table__cell {
    display: table-cell;
	width: 45%;
}
.m-btn:hover:not(.disabled):not(.is-disabled):not([disabled]) {
    background: #00c3ff;
    cursor: pointer;
}
.m-btn--thick {
    padding: 0.85em 1.4em;
}
.m-btn {
    background: #0088cc;
    transition: background 0.2s ease;
    color: #f4f4f4;
    border: none;
    line-height: 1;
	border-radius: 4px;
}
.l-table__cell--blank-wide {
    min-width: 3em;
    min-height: 3em;
}

.position-12 .moduletable {
	margin-bottom: 10px;
	background-color: #ffffff;
	padding: 20px;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.script-owner, .script-hit, .script-comment, .script-date, .script-scene, .script-privacy {
	float: left;
	margin-right: 14px;
}
.screenplay-item {
	padding: 14px;
}
.hg40 {
	height: 40px !important;
}
.hg60 {
	height: 60px !important;
}
.screenplay-item .btn-group {
	margin-top: 10px;
}
.screenplay-content-caption {
	margin-top: 15px;
	margin-bottom: 5px;
}

div .mceEditor {
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
}

td.profile-data-label {
	width: 15%;
}

body div#fd.es .profile-data-table .es-story-locations {
	margin-right: 0px;
}

#mijovideos_reasons, .mijovideos_report_text {
	width: 50% !important;
}
.videoSizer_1 {
	max-width: none !important;
}

.home-event h3, .home-jobs h3, .home-answer h3 {
	/*margin-bottom: 1.5rem;
	color: #f90;*/
	line-height: 1;
	font-size: 300%;
	font-weight: normal;
	text-align: center;
	padding-left: 0;
    padding-bottom: 22px;
	background: url(../images/mod_dot.png) repeat-x scroll center bottom transparent;
	color: #566080;
}
.home-event div#fd ul {
	display: flex;
}
.home-event div#fd li {
	width: 32% !important;
	margin-right: 2% !important;
	border: none !important;
	padding: 0 !important;
}
.home-event div#fd img {
	width: 80px !important;
	height: 80px !important;
}
.home-event div#fd.es.mod-es-events ul li .es-event-avatar {
	float: left;
	padding-right: 20px;
}

.random-events li {
	margin-bottom: 10px !important;
}

.cj-wrapper-main .navbar-inner {
	background: none !important;
	box-shadow: none !important;
}
#cj-wrapper .question-wrapper input {
	width: 50%;
}

.esbutton {
	color: #fff !important;
    background-color: #6d9cca !important;
    border-color: #6d9cca !important;
    padding: 4px 8px !important;
	border-radius: 3px;
	text-shadow: none !important;
    box-shadow: none;
}
a.esbutton:hover {
	text-decoration: none !important;
}

.screenplay-item .script-header h4 {
	margin-right: 20px;
}

#script .page .transition {
	text-align: right;
}

.quick-login {
	background: url("../images/home_join_bg.jpg") repeat top left #303030;
    color: #fff;
}
.header-search {
	background-color: #0088cc;
	padding: 0px 15px 10px 15px;
	border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.mod-bd a, .mod-bd a:visited {
	color: #ffffff;
}
.mod-bd a:hover, .mod-bd a:focus {
	color: #ffffff !important;
}
.mod-bd b.caret {
	border-top: 4px solid #fff !important;
}
.es-dashboard {
	background-color: #ffffff;
	border-radius: 3px;
	padding: 5px;
}
.screenplay-item iframe {
	border:none !important
}

.screenplay-item [class^="glyphicon-"],.screenplay-item [class*=" glyphicon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: .25em;
    line-height: 14px;
}