.mijovideosapp .stream-links .content-title {
    padding       : 0 0 10px 0;
    border-bottom : 1px dotted #D7D7D7;
}

.mijovideosapp .content-title {
    font-weight : 700;
}

.mijovideosapp .content-title {
    margin-top    : 10px;
    margin-bottom : 10px;
}

.mijovideosapp .content-title a {
    font-size : 14px !important;
}

.like_image_div, .dislike_image_div, .views_likes_dislikes, .videos-view {
    display : inline-block;
}

.views_likes_dislikes {
    float : right;
}

.like_image_div, .dislike_image_div {
    display : inline-block;
}