.mijovideos_video_player {
    background : #000000;
    height     : 300px;
}

#mijovideos_video_player_playlist {
    height     : 300px;
    width      : 37%;
    background : #000000;
    overflow   : hidden;
    position   : absolute;
    z-index    : 998;
    top        : 0px;
    right      : 0px;
}

#mijovideos_video_player_playlist ul {
    padding         : 0;
    margin          : 0;
    list-style-type : none;
    background      : #000000;
}

#mijovideos_playlist li {
    display        : block;
    background     : #1B1B1B;
    padding        : 5px 5px;
    height         : 40px;
    /*width: 250px;*/
    font-size      : 10px;
    border-top     : 1px solid #393939;
    border-bottom  : 1px solid #1D1D1D;
    margin-top     : 1px;
    text-shadow    : 0 1px 0 #000000;
    letter-spacing : -1px;
    cursor         : pointer;
}

#mijovideos_playlist li:hover {
    background-color : #353535;
    border-color     : #353535;
}

#mijovideos_playlist li a {
    display         : block;
    text-decoration : none;
    color           : white;
    zoom            : 1;
}

#mijovideos_playlist li span {
    float       : left;
    font-size   : 10px;
    margin-left : 10px;
    max-height  : 40px;
    max-width   : 65%;
    overflow    : hidden;
}

#mijovideos_playlist li div {
    float       : left;
    margin-left : 5px;
    margin-top  : 10px;
    color       : #B2B2B2;
    width       : 15px;
    font-size   : 11px;
}

.video_thumb {
    float       : left;
    height      : 30px;
    margin-left : 5px;
    margin-top  : 5px;
    width       : 40px;
}

.mijovideos-control-bar {
    background-color : #1B1B1B;
    height           : 27px;
    position         : absolute;
    right            : 0;
    bottom           : 0;
    width            : 37%;
    z-index          : 998;
}

.mijovideos-control-bar a {
    float        : right;
    margin-right : 4px;
    margin-top   : 5px;
    font-size    : 11px;
}

.mijovideos-control-bar span {
    float       : left;
    margin-left : 10px;
    margin-top  : 4px;
    font-size   : 10px;
    color       : #AAA6A6;
}

.mijovideos_li_bottom {
    height           : 17px !important;
    background-color : black !important;
    border-bottom    : none !important;
}

.mijovideos_backward {
    width      : 16px;
    height     : 16px;
    background : transparent url('../images/left.png') center no-repeat;
}

.mijovideos_backward:hover {
    width      : 16px;
    height     : 16px;
    background : transparent url('../images/left_2.png') center no-repeat;
}

.mijovideos_forward {
    width      : 16px;
    height     : 16px;
    background : transparent url('../images/right.png') center no-repeat;
}

.mijovideos_forward:hover {
    width      : 16px;
    height     : 16px;
    background : transparent url('../images/right_2.png') center no-repeat;
}

/*overrides*/

.mijovideos_user_header {
    margin-top : 0; /* Default template*/
}

.mijovideos_playing {
    background-color : #565656 !important;
}

#mijovideos_playlist li.mijovideos_playing {
    background-color : #4F4F4F !important;
    border-color     : #4F4F4F;
}

#mijovideos_playlist .mijovideos_playing div {
    color : #FFFFFF;
}

.vjs-default-skin .vjs-control-bar {
    width   : 64% !important;
    display : inherit;
}

.mijovideos_video_player {
    position : relative;
}

.mijovideos_video_player iframe {
    width  : 63% !important;
    height : 300px !important;
}
