.jcarousel-skin-tango .jcarousel-container{
	}

.jcarousel-skin-tango .jcarousel-direction-rtl{
	direction:rtl;
	}
/*Go to default.php to get params
.jcarousel-skin-tango .jcarousel-container-horizontal{width:468px;}
.jcarousel-skin-tango .jcarousel-clip-horizontal{width:468px;}
.jcarousel-skin-tango .jcarousel-item{width:468px;}
*/
.jcarousel-skin-tango .jcarousel-clip{overflow:hidden;}

.jcarousel-skin-tango .jcarousel-item-horizontal{}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal{}

.jcarousel-skin-tango .jcarousel-item-placeholder{
	background:#fff;color:#000;}
/**/
.jcarousel-skin-tango .jcarousel-next-horizontal{
	position: absolute;
    bottom: 10px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src=next-horizontal.png); 
    background: transparent url(../next-horizontal.png) no-repeat 0 0;}
	
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal{
    left:10px;
	right:auto;
	background-image:url(../next-horizontal.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-prev-horizontal{
	position: absolute;
    bottom: 10px;
    right: 25px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../prev-horizontal.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal{
	left:5px;
	right:auto;
	background-image:url(../prev-horizontal.png) no-repeat 0 0;}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active{
	cursor: default;
	background-position:0 -32px ;}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active{
	background-position:0 -32px ;}
