/**
* @package 		EasySocial
* @copyright	Copyright (C) 2010 - 2014 Stack Ideas Sdn Bhd. All rights reserved.
* @license 		Proprietary Use License http://stackideas.com/licensing.html
* @author 		Stack Ideas Sdn Bhd
**/
@import "config";

@{EasySocial} {
	// EasySocial Groups Modules
	&.mod-es-groups {
		
		ul {
			list-style: none;

			li {
				margin-bottom: 10px;
				list-style: none;

				.es-group-object {
					margin-bottom:5px;
				}
				.es-group-avatar {
					float: right;
					+ .es-group-object {
						margin-right: 30px;
					}
				}

				.es-avatar {
					width: 24px;
					height: 24px;
					border: 1px solid #d7d7d7;
					padding: 3px;
				}

				.group-title {
					font-size: 14px;
					display: inline-block;
				}

				.es-group-meta {
					font-size: 10px;
					color: #666;

					span {
						margin-right: 5px;

						+span {
							border-left: 1px dotted #d7d7d7;
							padding-left: 8px;
						}
					}
				}

				.es-group-actions {
					margin-top: 8px;
				}

				+li {
					padding-top: 10px;
					border-top: 1px dotted #d7d7d7;
				}
			}
		}
	}
}
