body div#fd.es.mod-es-groups ul {
  list-style: none;
}
body div#fd.es.mod-es-groups ul li {
  margin-bottom: 10px;
  list-style: none;
}
body div#fd.es.mod-es-groups ul li .es-group-object {
  margin-bottom: 5px;
}
body div#fd.es.mod-es-groups ul li .es-group-avatar {
  float: right;
}
body div#fd.es.mod-es-groups ul li .es-group-avatar + .es-group-object {
  margin-right: 30px;
}
body div#fd.es.mod-es-groups ul li .es-avatar {
  width: 24px;
  height: 24px;
  border: 1px solid #d7d7d7;
  padding: 3px;
}
body div#fd.es.mod-es-groups ul li .group-title {
  font-size: 14px;
  display: inline-block;
}
body div#fd.es.mod-es-groups ul li .es-group-meta {
  font-size: 10px;
  color: #666;
}
body div#fd.es.mod-es-groups ul li .es-group-meta span {
  margin-right: 5px;
}
body div#fd.es.mod-es-groups ul li .es-group-meta span +span {
  border-left: 1px dotted #d7d7d7;
  padding-left: 8px;
}
body div#fd.es.mod-es-groups ul li .es-group-actions {
  margin-top: 8px;
}
body div#fd.es.mod-es-groups ul li +li {
  padding-top: 10px;
  border-top: 1px dotted #d7d7d7;
}
