.sectiontable thead .header{background-color: #f5f5f5; margin-bottom: 5px;}
.sectiontable tbody tr.noalt{background-color: #f5f5f5;}
.sectiontable tbody tr.alt{background-color: #ffffff;}
.sectiontable tbody tr td, .sectiontable thead tr th{padding: 5px}