/* a wrapper element that tracks the mouse vertically */
.vjs-thumbnail-holder {
    position : relative;
    z-index  : 99;
}

/* the thumbnail image itself */
.vjs-thumbnail {
    position           : absolute;
    left               : 0;
    bottom             : 1.3em;
    opacity            : 0;
    transition         : opacity .2s ease;
    -webkit-transition : opacity .2s ease;
    -moz-transition    : opacity .2s ease;
}

/* fade in the thumbnail when hovering over the progress bar */
.vjs-progress-control:hover .vjs-thumbnail {
    opacity : 1;
}

/* ... but hide the thumbnail when hovering directly over it */
.vjs-progress-control:hover .vjs-thumbnail:hover {
    opacity : 0;
}

#vjs-tip-inner {
    border-radius         : 3px;
    -moz-border-radius    : 3px;
    -webkit-border-radius : 3px;
    padding               : 5px 8px 4px 8px;
    background            : rgba(31, 31, 31, 0.45);
    color                 : white;
    max-width             : 200px;
    text-align            : center;
    position              : absolute;
    top                   : -42px;
    left                  : -25px;
    font-size             : 11px;
    cursor                : default;
    visibility            : hidden;
}

/* Resolutions
-------------------------------------------------------------------------------- */
@font-face {
    font-family : 'plugins';
    src         : url('font/fonts/plugins.eot?svhoao');
    src         : url('font/fonts/plugins.eot?#iefixsvhoao') format('embedded-opentype'),
    url('font/fonts/plugins.woff?svhoao') format('woff'),
    url('font/fonts/plugins.ttf?svhoao') format('truetype'),
    url('font/fonts/plugins.svg?svhoao#plugins') format('svg');
    font-weight : normal;
    font-style  : normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family             : 'plugins';
    speak                   : none;
    font-style              : normal;
    font-weight             : normal;
    font-variant            : normal;
    text-transform          : none;
    line-height             : 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}

.vjs-default-skin .vjs-resolutions-button {
    width  : 5em;
    cursor : pointer !important;
}

/* Resolutions Icon */

.vjs-default-skin .vjs-resolutions-button .vjs-control-content:before {
    font-family : 'plugins';
    font-size   : 1.5em;
    line-height : 2em;
    content     : "\e001"; /* Gear icon */
    width       : 17px;
    height      : 17px;
    margin      : 0.5em auto 0;
}

.vjs-default-skin .vjs-control-content:hover:before {
    text-shadow : 0em 0em 1em #FFFFFF;
}

/* Watchlater Button */
.vjs-default-skin .vjs-watchlater-control:before {
    font-family : 'plugins';
    content     : '\e002';
}

.vjs-control.vjs-watchlater-control.watchlater-success:before {
    font-family : 'plugins';
    content     : '\f058';
}

.vjs-default-skin .vjs-watchlater-control {
    width  : 3.8em;
    cursor : pointer;
    float  : right;
}

.vjs-default-skin .vjs-watchlater-control.vjs-menu-button ul li:hover {
    color              : #CCCCCC;
    background-color   : rgba(0, 0, 0, 0);
    -webkit-box-shadow : 0 0 1em #FFFFFF;
    cursor             : default;
}