#toolbar { float: right; margin-right: 3px; }
#inspector li, #toolbar li { height: 16px; line-height: 16px; margin: 12px 12px 12px 0; position: relative; width: 16px; }
#toolbar li { float: right; margin: 12px 0 12px 12px; text-align: right; }
#inspector li a, #toolbar li a { cursor: pointer; color: #3C3D36; display: block; height: 16px; text-indent: 16px; overflow: hidden; width: 16px; }
#inspector li a:hover, #toolbar li a:hover { text-decoration: none; }

#inspector li a:hover:after, #toolbar li a:hover:after 
{ 
    background: #ED303C; 
    border-radius: 4px; 
    color: #fff;
    content: attr(data-tooltip);
    left: -5px; 
    padding: 3px 7px 4px 30px;
    position: absolute; 
    text-align: left;
    text-indent: 0; 
    top: -3px; 
}

/* toolbar */
#toolbar li a:hover:after { background-position: 5px 3px; background-repeat: no-repeat; }

#toolbar li.resize { background: url('../images/toolbar/resize.small.png') top left no-repeat; }
#toolbar li.resize:hover { background-image: url('../images/toolbar/resize.small-hover.png'); }
#toolbar li.resize.large { background: url('../images/toolbar/resize.large.png') top left no-repeat; }
#toolbar li.resize.large:hover { background-image: url('../images/toolbar/resize.large-hover.png'); }
#toolbar li.resize a:hover:after { background-image: url('../images/toolbar/resize.small-hover.png'); width: 78px; }
#toolbar li.resize.large a:hover:after { background-image: url('../images/toolbar/resize.large-hover.png'); }

#toolbar li.dim { background: url('../images/toolbar/dim.reduce.png') top left no-repeat; }
#toolbar li.dim:hover { background-image: url('../images/toolbar/dim.reduce-hover.png'); }
#toolbar li.dim.increase { background: url('../images/toolbar/dim.increase.png') top left no-repeat; }
#toolbar li.dim.increase:hover { background-image: url('../images/toolbar/dim.increase-hover.png'); }
#toolbar li.dim a:hover:after { background-image: url('../images/toolbar/dim.reduce-hover.png'); width: 83px; }
#toolbar li.dim.increase a:hover:after { background-image: url('../images/toolbar/dim.increase-hover.png'); }

#toolbar li.dock { background: url('../images/toolbar/dock.png') top left no-repeat; }
#toolbar li.dock:hover { background-image: url('../images/toolbar/dock-hover.png'); }
#toolbar li.dock a:hover:after { background-image: url('../images/toolbar/dock-hover.png'); width: 90px; }
#toolbar li.dock.over { background: url('../images/toolbar/dock-drop.png') no-repeat; cursor: pointer; }

/* inspector */
#inspector li a:hover:after { background-position: 5px 3px; background-repeat: no-repeat; }
/*
#inspector li.fountain { background: url('../images/toolbar/fountain.png') top left no-repeat; }
#inspector li.fountain:hover { background-image: url('../images/toolbar/fountain-hover.png'); }
#inspector li.fountain a:hover:after { background-image: url('../images/toolbar/fountain-hover.png'); width: 98px; }
*/

/* notifications */
.notification::-moz-selection, .notification::selection { background: #454545; }
.notification
{ 
    background: #454545 url('../images/notification.png') 6px 6px no-repeat; 
    border-radius: 4px; 
    color: #fff;
    display: none; 
    font-size: 13px;
    padding: 6px 8px 6px 28px;
    position: absolute; 
    right: 5px; 
    top: -8px; 
}

/* #51445F - moon warrior */ 
#script { margin: 25px auto 0 auto; width: 850px; }

.page::-moz-selection, .page::selection { background: #ED303C; color: #fff; }
#script .page
{    
    background: #fff;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    color: #222;
    cursor: text;
    font: Courier,"Courier New",monospace;
    letter-spacing: 0 !important;
    font-family: 'Courier Final Draft', Courier, Courier New, monospace;
    line-height: 107.5%;
    margin-bottom: 25px;
    position: relative;
    text-align: left;
    width: 100%;
    z-index: 200;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.1);
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;    
}

#script.dpi72 .page { font-size: 12px; padding: 72px 72px 72px 108px; }
#script.dpi100 .page { font-size: 16px; padding: 100px 100px 100px 150px; }
#script.dpi150 .page { font-size: 33px;  padding: 150px 150px 150px 225px; }

#script.dpi72 .page h1,
#script.dpi72 .page h2,
#script.dpi72 .page h3,
#script.dpi72 .page h4,
#script.dpi72 .page p { font-size: 12px; font-weight: normal; }

#script.dpi100 .page h1,
#script.dpi100 .page h2,
#script.dpi100 .page h3,
#script.dpi100 .page h4,
#script.dpi100 .page p { font-size: 17px; font-weight: normal; }

#script.dpi150 .page h1,
#script.dpi150 .page h2,
#script.dpi150 .page h3,
#script.dpi150 .page h4,
#script.dpi150 .page p { font-size: 33px; font-weight: normal; }

/* US Paper */
#script.us-letter.dpi72 { width: 612px; } /* us letter - 72 dpi - 612px x 792px - margins: 1" 1" 1" 1.5" */
#script.us-letter.dpi100 { width: 850px; } /* us letter - 100 dpi - 850px x 1100px - margins: 1" 1" 1" 1.5" */
#script.us-letter.dpi150 { width: 1275px; } /* us letter - 150 dpi - 1275px x 1650px - margins: 1" 1" 1" 1.5" */

#script.us-letter.dpi72 .page { min-height: 792px; } /* min height temporary until proper paging is implemented */
#script.us-letter.dpi100 .page { min-height: 1100px; } /* min height temporary until proper paging is implemented */
#script.us-letter.dpi150 .page { min-height: 1650px; } /* min height temporary until proper paging is implemented */

#script.us-letter.dpi72 .page.title-page { height: 792px; } /* temp for title page until paging is implemented */
#script.us-letter.dpi100 .page.title-page { height: 1100px; } /* temp for title page until paging is implemented */
#script.us-letter.dpi150 .page.title-page { height: 1650px; } /* temp for title page until paging is implemented */

/* A4 Paper */
#script.a4.dpi72 { width: 595px; } /* us letter - 72 dpi - 595px x 842px - margins: 1" 1" 1" 1.5" */
#script.a4.dpi100 { width: 827px; } /* us letter - 72 dpi - 827px x 1169px - margins: 1" 1" 1" 1.5" */
#script.a4.dpi150 {  width: 1250px; } /* us letter - 72 dpi - 1250px x 1754px - margins: 1" 1" 1" 1.5" */

#script.a4.dpi72 .page { height: 842px; }
#script.a4.dpi100 .page { height: 1169px; }
#script.a4.dpi150 .page { height: 1754px; }

/* title page */
#script .title-page h1 { margin-top: 50%; margin-bottom: 34px; text-align: center; width: 90.5%; }
#script .title-page p.credit { text-align: center; width: 90.5%; }
#script .title-page p.author,
#script .title-page p.authors { margin-bottom: 32px; margin-top: 0; text-align: center; width: 90.5%; }
#script .title-page p.source { margin-bottom: 32px; text-align: center; width: 90.5%; }
#script .title-page p.notes { bottom: 350px; position: absolute; right: 0; text-align: right; }
#script.dpi72 .title-page p.notes { bottom: 252px; right: 72px; }
#script.dpi100 .title-page p.notes { bottom: 350px; right: 100px; }
#script.dpi150 .title-page p.notes { bottom: 525px; right: 150px; }
#script .title-page p.date,
#script .title-page p.draft-date { bottom: 250px; position: absolute; right: 0; text-align: right; }
#script.dpi72 .title-page p.date,
#script.dpi72 .title-page p.draft-date { bottom: 180px; right: 72px; }
#script.dpi100 .title-page p.date,
#script.dpi100 .title-page p.draft-date { bottom: 250px; right: 100px; }
#script.dpi150 .title-page p.date,
#script.dpi150 .title-page p.draft-date { bottom: 375px; right: 150px; }
#script .title-page p.contact { bottom: 100px; position: absolute; right: 0; text-align: right; }
#script.dpi72 .title-page p.contact { bottom: 72px; right: 72px; }
#script.dpi100 .title-page p.contact { bottom: 100px; right: 100px; }
#script.dpi150 .title-page p.contact { bottom: 150px; right: 150px; }
#script .title-page p.copyright { bottom: 100px; position: absolute; text-align: left; }
#script.dpi72 .title-page p.copyright { bottom: 72px; }
#script.dpi100 .title-page p.copyright { bottom: 100px; }
#script.dpi150 .title-page p.copyright { bottom: 150px; }

/* script */
#script .page h2 { text-align: right; }
#script .page h2.left-aligned { text-align: left }
#script .page h3 { position: relative; }
#script .page h3:before { color: #bbb; content: attr(id); font-weight: bold; left: -45px; position: absolute; }
#script .page h3:after { color: #bbb; content: attr(id); font-weight: bold; right: -45px; position: absolute; }

#script .page div.dialogue {
	margin-left: auto;
	margin-right: auto;
	width: 68%;
	margin-bottom: 10px;
}
#script .page div.dialogue h4 { margin-bottom: 0; margin-left: 23%; }
#script .page div.dialogue p.parenthetical { margin-bottom: 0; margin-top: 0; margin-left: 11%;}
#script .page div.dialogue p { margin-bottom: 0; margin-top: 0; }

#script .page div.dual-dialogue { margin: 2em 0 0.9em 2%; auto; width: 95%; }
#script .page div.dual-dialogue div.dialogue { display: inline-block; margin: 0; width: 45%; }
#script .page div.dual-dialogue div.dialogue h4 { margin-top: 0;}
#script .page div.dual-dialogue div.dialogue.right { float: right; }

#script .page p { }
#script .page p.centered { text-align: center; width: 92.5%; }

#script .page p.section { color: #bbb; margin-left: -30px; }
#script .page p.synopsis { color: #bbb; margin-left: -20px; }

#script .page span.italic { font-style: italic; }
#script .page span.bold { font-weight: bold; }
#script .page span.underline { text-decoration: underline; 
