body div#fd.es {
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-size-adjust: none;
}
body div#fd.es.es-main {
  position: relative;
  display: inline-block;
  width: 100%;
}
body div#fd.es .es-container {
  display: table;
  table-layout: fixed;
  width: 100%;
  position: relative;
  z-index: 1;
}
body div#fd.es .es-container .es-sidebar {
  width: 220px;
  padding-top: 3px;
  position: relative;
  border-right: 1px solid #d7d7d7;
  display: table-cell;
  vertical-align: top;
}
body div#fd.es .es-container .es-sidebar .btn-close-sidebar {
  display: none;
}
body div#fd.es .es-container .es-content {
  position: relative;
  margin-left: 0;
  height: 100%;
  left: 0;
  display: table-cell;
  vertical-align: top;
}
body div#fd.es .es-container .es-content > .loading-indicator {
  height: 100px;
  position: relative;
}
body div#fd.es .es-container.es-container-alt .es-sidebar {
  float: right;
  width: 320px;
}
body div#fd.es .es-container.es-container-alt .es-content {
  margin-left: 0;
}
body div#fd.es .es-container[data-achievements] .achievements-list,
body div#fd.es .es-container[data-conversations] .conversation-list,
body div#fd.es .es-container[data-friends] [data-friends-items],
body div#fd.es .es-container[data-profile-about] .profile-data-box,
body div#fd.es .es-notification-list {
  min-height: 450px;
}
body div#fd.es .btn-sidebar-toggle {
  margin: 10px 0;
  display: none;
  width: 100%;
  height: 30px;
  padding: 6px;
  line-height: 16px;
  clear: both;
  position: relative;
}
body div#fd.es .es-dashboard .es-content > .loading-indicator,
body div#fd.es .es-profile .es-content > .loading-indicator {
  display: none;
}
body div#fd.es .es-dashboard.loading .es-content > .loading-indicator,
body div#fd.es .es-profile.loading .es-content > .loading-indicator {
  display: block;
}
body div#fd.es.w480 .btn-sidebar-toggle {
  display: block;
  float: none !important;
}
body div#fd.es.w480 .es-container {
  display: block;
}
body div#fd.es.w480 .es-container .es-sidebar {
  float: none !important;
  width: 100%;
  display: none;
  background: #fff;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  margin: 0 0 10px;
}
body div#fd.es.w480 .es-container .es-sidebar .btn-close-sidebar {
  display: inline-block;
  border: 1px solid #d7d7d7;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  padding: 4px 9px;
  color: #333;
  height: 26px;
  line-height: 14px;
}
body div#fd.es.w480 .es-container .es-sidebar.sidebar-open {
  display: block;
  overflow: hidden;
}
body div#fd.es.w480 .es-container .es-content {
  clear: both;
  display: block;
  margin-left: 0;
  padding: 0 0 15px;
}
body div#fd.es.w480 .es-container .es-content:before,
body div#fd.es.w480 .es-container .es-content:after {
  content: " ";
  display: table;
}
body div#fd.es.w480 .es-container .es-content:after {
  clear: both;
}
body div#fd.es .btn-group-sort .btn {
  font-size: 11px;
  padding: 3px 10px;
}
body div#fd.es.layout-edit .es-sidebar {
  width: 190px;
}
body div#fd.es.layout-edit .edit-form {
  margin: 0 20px;
  min-height: 450px;
}
body div#fd.es.layout-edit .edit-form .yesno-list > li div.pull-left {
  max-width: 320px;
}
body div#fd.es.layout-edit .control-label {
  font-size: 12px;
}
body div#fd.es.layout-edit .step-content {
  display: none;
}
body div#fd.es.layout-edit .step-content.active {
  display: block;
}
body div#fd.es.layout-edit .avatar-preview {
  display: block;
  width: 128px;
  height: 128px;
  position: relative;
  background: #f5f5f5;
  border-radius: 3px;
}
body div#fd.es.layout-edit .avatar-preview img {
  position: absolute;
}
body div#fd.es.layout-edit .avatar-preview .loading-indicator {
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 20%;
}
body div#fd.es.layout-edit .es-avatar-list > li .es-avatar {
  border: 4px solid white;
  border-radius: 8px;
}
body div#fd.es.layout-edit .es-avatar-list > li img {
  border: none;
  width: 58px;
  height: 58px;
}
body div#fd.es.layout-edit .es-avatar-list > li:hover .es-avatar {
  border: 4px solid #ccc;
}
body div#fd.es.layout-edit .es-avatar-list > li.active .es-avatar {
  border: 4px solid #5B93CE;
}
body div#fd.es.layout-edit .form-actions {
  margin-left: 1px;
}
