body div#fd.es .es-notification-list {
  position: relative;
}
body div#fd.es .es-notification-tool {
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 3;
}
body div#fd.es.w320 .es-notification-tool {
  position: relative;
}
body div#fd.es .es-notifications {
  position: relative;
  padding: 0 0 50px;
  margin: 0 0 20px;
}
body div#fd.es .es-notifications:before {
  display: block;
  content: '';
  width: 4px;
  position: absolute;
  background-color: rgba(0,0,0,0.03);
  left: 34px;
  top: 20px;
  bottom: 0;
}
body div#fd.es .es-notifications .btn-loadmore {
  position: absolute;
  bottom: 0;
  padding: 3px 5px;
}
body div#fd.es .es-notifications .es-item-list {
  border-top: 1px solid #d7d7d7;
  margin: 0 0 0 60px;
}
body div#fd.es .es-notifications .es-item-list > li {
  margin: 0;
  border-bottom: 1px solid #d7d7d7;
}
body div#fd.es .es-notifications .es-item-list > li:hover {
  background: #fffee2;
}
body div#fd.es .es-notifications .es-item-list > li .close {
  font-size: 12px;
}
body div#fd.es .es-notifications .es-item-list > li .es-notification {
  position: relative;
  padding: 8px 30px 8px 12px;
}
body div#fd.es .es-notifications .es-item-list > li .es-notification:before {
  display: block;
  content: '';
  width: 9px;
  height: 9px;
  top: 10px;
  left: -28px;
  position: absolute;
  background-color: #5b93ce;
  border-radius: 50%;
}
body div#fd.es .es-notifications .es-item-list > li .es-notification .es-time {
  color: #888;
  font-size: 10px;
}
body div#fd.es .es-notifications .es-item-list > li .es-notification .es-image-wrap {
  display: block;
  clear: both;
  width: 60px;
  margin: 0 0 5px;
}
body div#fd.es .es-notifications .es-item-list > li .es-notification .es-image {
  width: 60px;
  max-width: 60px;
}
body div#fd.es .es-notifications .es-item-list > li .es-notification .es-notice-content {
  margin: 15px 0;
  border-left: 2px solid #ddd;
  padding-left: 10px;
}
body div#fd.es .es-notifications .es-item-list > li .es-notification .media {
  margin: 15px 0 10px;
}
body div#fd.es .es-notifications .es-item-list > li .es-notification .media-body .es-notice-content {
  margin: 0;
}
body div#fd.es .es-notifications .es-item-list > li .es-notification .es-notice-action {
  position: absolute;
  top: 5px;
  right: 15px;
}
body div#fd.es .es-notifications .es-item-list > li.is-remove .es-notification {
  opacity: .5;
  filter: alpha(opacity=50);
}
body div#fd.es .es-notifications .es-item-list > li.is-remove .is-noclick {
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}
body div#fd.es .es-notifications .notification-date {
  margin: 22px 0 10px;
  padding: 0 0 0 20px;
  font-family: inherit;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  z-index: 2;
}
body div#fd.es .es-notifications .btn-mini {
  padding: 1px;
}
body div#fd.es .es-notifications .btn-mini i {
  position: relative;
  top: 0;
}
body div#fd.es .es-notifications .dropdown-arrow-topright {
  right: -9px;
  top: 16px;
}
body div#fd.es .es-notifications .dropdown-arrow-topright:before {
  right: 8px;
}
body div#fd.es .es-notifications .dropdown-arrow-topright:after {
  right: 9px;
}
body div#fd.es .es-notifications .is-unread {
  background: #eaf5ff;
}
body div#fd.es .es-notifications .is-hidden {
  display: none;
}
body div#fd.es .es-notifications-empty {
  border: 1px dashed #eee;
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0;
  padding: 15px;
  text-align: center;
  border-radius: 3px;
}
body div#fd.es .type-badges .object-image > span,
body div#fd.es .type-friends .object-image > span {
  background-size: contain !important;
}
body div#fd.es.popbox-notifications {
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  width: 380px;
  font-size: 11px;
  min-height: 64px;
}
body div#fd.es.popbox-notifications .media,
body div#fd.es.popbox-notifications .media-body {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}
body div#fd.es.popbox-notifications .media,
body div#fd.es.popbox-notifications .media .media {
  margin-top: 15px;
}
body div#fd.es.popbox-notifications .media:first-child {
  margin-top: 0;
}
body div#fd.es.popbox-notifications .media-object {
  display: block;
}
body div#fd.es.popbox-notifications .media-heading {
  margin: 0 0 5px;
}
body div#fd.es.popbox-notifications .media .pull-left {
  margin-right: 10px;
}
body div#fd.es.popbox-notifications .media .pull-right {
  margin-left: 10px;
}
body div#fd.es.popbox-notifications .media-list {
  margin-left: 0;
  list-style: none;
}
body div#fd.es.popbox-notifications .es-avatar {
  width: 16px !important;
  height: 16px !important;
}
body div#fd.es.popbox-notifications .es-avatar img {
  width: 16px !important;
  height: 16px !important;
}
body div#fd.es.popbox-notifications .popbox-body {
  width: 100%;
  max-height: 250px;
  overflow: auto;
  padding: 0;
}
body div#fd.es.popbox-notifications .btn-es.btn-small,
body div#fd.es.popbox-notifications .btn-small[class^="btn-es-"],
body div#fd.es.popbox-notifications .btn-small[class*=" btn-es-"] {
  font-size: 11px !important;
  padding: 1px 8px !important;
}
body div#fd.es.popbox-notifications .notifications-result,
body div#fd.es.popbox-notifications .conversations-result {
  padding-bottom: 10px;
}
body div#fd.es.popbox-notifications .notifications-result i.ies-earth,
body div#fd.es.popbox-notifications .conversations-result i.ies-earth {
  color: #999999;
  margin-left: 1px;
}
body div#fd.es.popbox-notifications .notifications-result .object-image,
body div#fd.es.popbox-notifications .conversations-result .object-image {
  position: relative;
  background-color: #fff;
  border: 1px solid transparent;
  display: inline-block;
  margin-left: 7px;
  outline: none;
  padding: 1px;
}
body div#fd.es.popbox-notifications .notifications-result .object-image:before,
body div#fd.es.popbox-notifications .notifications-result .object-image:after,
body div#fd.es.popbox-notifications .conversations-result .object-image:before,
body div#fd.es.popbox-notifications .conversations-result .object-image:after {
  content: " ";
  display: table;
}
body div#fd.es.popbox-notifications .notifications-result .object-image:after,
body div#fd.es.popbox-notifications .conversations-result .object-image:after {
  clear: both;
}
body div#fd.es.popbox-notifications .notifications-result .object-image > span,
body div#fd.es.popbox-notifications .conversations-result .object-image > span {
  width: 52px;
  height: 38px;
  background-color: transparent;
  background-position: center 25%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
body div#fd.es.popbox-notifications .notifications-result .is-unread .notice-message,
body div#fd.es.popbox-notifications .conversations-result .is-unread .notice-message {
  background: #f6fbff !important;
}
body div#fd.es.popbox-notifications .notifications-result .notice-message,
body div#fd.es.popbox-notifications .conversations-result .notice-message {
  padding: 4px 10px;
}
body div#fd.es.popbox-notifications .notifications-result .notice-message .es-avatar,
body div#fd.es.popbox-notifications .conversations-result .notice-message .es-avatar {
  margin-top: 5px !important;
}
body div#fd.es.popbox-notifications .notifications-result .notice-message:hover,
body div#fd.es.popbox-notifications .conversations-result .notice-message:hover {
  background: #f6f6f6 !important;
}
body div#fd.es.popbox-notifications .notifications-result .notice-message > a,
body div#fd.es.popbox-notifications .conversations-result .notice-message > a {
  color: #666 !important;
  padding: 0 5px !important;
  white-space: normal !important;
  display: block !important;
}
body div#fd.es.popbox-notifications .notifications-result .notice-message > a:hover,
body div#fd.es.popbox-notifications .conversations-result .notice-message > a:hover {
  text-decoration: none !important;
}
body div#fd.es.popbox-notifications .friends-result {
  padding-bottom: 10px;
}
body div#fd.es.popbox-notifications .friends-result .loading-indicator {
  display: none !important;
}
body div#fd.es.popbox-notifications .friends-result .es-action-wrap {
  clear: both;
  position: relative;
  padding: 5px 0 0;
}
body div#fd.es.popbox-notifications .type-broadcast.is-unread > .notice-message {
  background: #ffc !important;
}
body div#fd.es .es-friend-approve-list .btn {
  display: inline-block !important;
}
body div#fd.es .es-friend-approve-list .btn.view-profile {
  display: none !important;
}
body div#fd.es .es-friend-approve-list .added-friends .btn.view-profile {
  display: inline-block !important;
}
body div#fd.es .es-friend-approve-list .added-friends .btn.reject-friend {
  display: none !important;
}
body div#fd.es .es-friend-approve-list .added-friends .btn.accept-friend {
  display: none !important;
}
